<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
            <nav>
                <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
                <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
                <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
                <a *ngIf ="hasUser()"mat-raised-button color="warn" routerLink="/admin" routerLinkActive="active">Admin</a>
            </nav>
            <nav>
                <a mat-button  *ngIf="!hasUser()" routerLink="/auth/login" routerLinkActive="active">Login</a>
                <a mat-button  *ngIf="!hasUser()" routerLink="/auth/register" routerLinkActive="active">Register</a>
                <a mat-button *ngIf="hasUser()" routerLinkActive="active" (click)="logout()">Logout</a>
            </nav>
            </div>
    </mat-toolbar-row>
</mat-toolbar>