nav > a {
    text-decoration: none;  
    width: auto;
}
.hoverDivNav:hover {
    background: #2c387b;
}
.hoverDivNav{
    width: 10% !important;
    height: auto; 
    text-align: center;
    border-radius: 10px;
}
.hoverDivNavRight{
    width: auto !important;
    height: auto; 
    text-align: center;
    border-radius: 10px;
}
nav >.hoverDivNav > a.active {
    color:rgb(61, 189, 218);
}
nav > .hoverDivNav > a{
    color:white; 
}
.adminIcon{
    color:rgb(255, 87, 87) !important; 
}
.divSelectUser{
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: #5164d1;
    height: 100%;
    width: 100%;  
}
.divImg{
    width: 100%;
    height: 20%;
    text-align: center;
}
.divIconUser{
        width: 20%;
        .iconAccountUser{
            font-size: 4vw !important;
        }
}
.divImgNav{
        width: 20%;
        height: 100%;
}
.divButtonLogout{
        height: 10%;
        max-height: 100%;
        line-height: 80%;
       text-align: center;
       align-content: center;
       align-items: center;
}
ul{
    padding: 0;
    list-style:none;
    text-align: center !important;
}
.spanDatesMenu{
    line-height: 3vw;
    font-size: x-large;
}
.spanNameMenu{
    font-size: 25px;
}
.spanEmailMenu{
    font-size: 20px;
    color: rgb(216, 216, 216);
}
.iconAccountArrow{
    margin-top: 20%;
}
.iconAccount{
    font-size: xxx-large !important;
}
.iconAccountAuth{
    font-size: xxx-large !important;
      
}
.imgAccount{   
    width: 130px;
    height: 100% !important;
}
.imgUserIcon{
    width: 40%;
    height: 100%;
}
nav{
    display: flex;
    width: 50%;
    height: 100%;
}
.navRight{
    width: 30%;
    justify-content: flex-end;
    align-items: center;
}
.navCenter{
    align-items: center;
    justify-content: space-between;
}
.header-row{
    width: 100%;
    height: 100%;
}
.adminButton{
    width: 17%;
    display: flex;
    justify-content: space-between;
}

.mat-toolbar-multiple-rows{
    height: auto;
}
.mat-toolbar-row, .mat-toolbar-single-row{
    height: 100%;
}


mat-menu-item{
    align-items: stretch;
}
.mat-icon{
    width: auto;
    height: auto;
}
.verticalLine { border-left: thick solid #ff0000; }

.linesMenu{
    color: #dadde1;
    margin: 8px 16px;
}
.example-tooltip-red {
    background: #b71c1c !important;
}
.buttonLogout{
    background: rgb(161, 182, 194);
}
@media (max-width: 1350px){
    .imgAccount{   
        width: 90px;
        height: 100% !important;
    }
    .hoverDivNavRight{
        width: auto !important;
        height: auto; 
        text-align: center;
        border-radius: 10px;
    }
    .navRight{
        width: 40%;
        justify-content: flex-end;
        align-items: center;
    }
    nav{
        display: flex;
        width: 40%;
        height: 100%;
    }
  }
