<div class="divContainerDialog">
    <div mat-dialog-title class="divTitle">{{data.name}}</div>
    <div class ="spaceBetween"></div>
    <div mat-dialog-content class="divContentDialog" >
        <mat-label  class="labelDialog"><b>ID:</b></mat-label>
        <mat-label  class="labelDialog labelContent">{{data.id}}</mat-label>
        <mat-label  class="labelDialog"><b>Nombre:</b></mat-label>
        <mat-label  class="labelDialog labelContent">{{data.name}}</mat-label>
        <mat-label  class="labelDialog"><b>Precio:</b></mat-label>
        <mat-label  class="labelDialog labelContent">{{data.price}}</mat-label>
        <mat-label  class="labelDialog"><b>Categoría:</b></mat-label>
        <mat-label  class="labelDialog labelContent" *ngIf="categories">{{nameCategory(data.categoryId)}}</mat-label>
        <mat-label  class="labelDialog"><b>Marca:</b></mat-label>
        <mat-label  class="labelDialog labelContent">{{data.brand}}</mat-label>
        <mat-label  class="labelDialog"><b>Código:</b></mat-label>
        <mat-label  class="labelDialog labelContent">{{data.code}}</mat-label>
        <mat-label  class="labelDialog"><b>Color:</b></mat-label>
        <mat-label  class="labelDialog labelContent">{{data.color}}</mat-label>
        <mat-label  class="labelDialog"><b>Descripción:</b></mat-label>
        <mat-label  class="labelDialog labelContent">{{data.description}}</mat-label>
    </div>
    <div class ="spaceBetween" *ngIf="!isShowRepairmans"></div>
    <div class ="spaceBetweenTitle" *ngIf="isShowRepairmans"></div>
    <div mat-dialog-actions  class="divActionsConfirm">
        <button mat-button class ="buttonApprove"(click)="onNoClick()" cdkFocusInitial ><mat-icon>check</mat-icon> Cerrar</button>
    </div>
</div>