<div class="div-container">
  <form [formGroup]="form" class="form-login" (ngSubmit)="login($event) ">
    <mat-card class="container card-login">
      <mat-card-content class="mat">
        <div class="row input-div-row">
          <img class="img-logo" src="./../../../../assets/images/registro-logo.jpeg">
        </div>
        <div>
          <h1 style="align-content: center;">Iniciar Sesión</h1>
          <!-- <mat-card-title class="title ">Iniciar Sesión</mat-card-title> -->
        </div>
        <div class="row input-div-row">
          <div class="col-xs input-div-colum">
            <!-- <mat-error *ngIf="seeIfEmail()">En este campo debe haber un correo</mat-error> -->
            <input class="input-litle-form" placeholder="Correo electrónico" formControlName="email" matInput
              type="email">
            <!--   <mat-error *ngIf="seeIfEmail()">{{errors.email}}</mat-error> -->
            <mat-error *ngIf="form.get('email').dirty && form.get('email').hasError('email')">{{errors.email}}
            </mat-error>
            <mat-error *ngIf="form.get('email').dirty && form.get('email').hasError('required')">{{errors.required}}
            </mat-error>
          </div>
        </div>
        <div class="row input-div-row">
          <div class="col-xs input-div-colum">
            <input class="input-litle-form" placeholder="Contraseña" formControlName="password" matInput
              [type]="typePassword" >
            <mat-error *ngIf="form.get('password').dirty && form.get('password').hasError('required')">
              {{errors.required}}</mat-error>
          </div>
          <div>
            <button mat-icon-button type="button" (click)="lookPassword()">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          </div>
        </div>
        <div class="empty"></div>
        <div class="mat-button">
          <button [ngClass]="{'button-enable' : !form.invalid, 'button-disable': form.invalid}"
            [disabled]="form.invalid" mat-raised-button type="submit">Iniciar sesión</button>
        </div>
        <div class="empty"></div>
        <a>¿Olvidaste tu contraseña?</a>
        <hr>
        <div class="mat-button">
          <button class="button-login " mat-raised-button routerLink="/auth/register">Registrarse</button>
          <!--  <button [disabled]="form.invalid" mat-raised-button type = "button" (click) = "loginApi()">Ingresar API</button> -->
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>