.containerPanel {
    background-color: white;
    border: rgb(204, 204, 204) solid;
    border-radius: 10px !important;
    box-shadow: 5px 5px 5px 0px rgba(253, 1, 1, 0.2);
    background: white;
    /* background-image: linear-gradient(153deg, #a9a9a9 6%, #ffffff  100%); */
    height: 70%;
    width: 90%;
    margin-left: 5%;
}
.navTableButtons {
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 98%;
    margin: 1% 1%;
}
.divBannerService, .divBannerApproved, .divBannerCourse, .divBannerFinished, .divBannerCustomer{
    justify-content: center;
    width: 98%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: white;
    height: 9%;
    display: flex;
    align-items: center;
    p{
        margin: 0;
    }
}
.divBannerCustomer{
    background: rgb(35, 42, 171);
}
.divBannerService{
    background: rgb(35, 42, 171);
}
.divBannerApproved{
    background: rgb(216, 2, 2);
}
.divBannerCourse{
    background: rgb(209, 157, 0);
}
.divBannerFinished{
    background: rgb(49, 132, 36);
    
}
.divTablePanel {
    width: 100%;
    height: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tablePanelService, .tablePanelCourse, .tablePanelApproved, .tablePanelFinished, .tablePanelCustomer{
    height: auto;
    width: 98%;
    border: rgb(204, 204, 204) solid 1px ;
    // border-radius: 10px;
    text-align: center;
}
.tablePanelCustomer{
    tr:nth-child(even) {
        background-color: rgb(108, 115, 250);   
    }
    
    tr:nth-child(odd) {
        background-color: rgb(170, 175, 253);
    }
     tr:nth-child(1){
        background-color: rgb(35, 42, 171);
        color: white;
    }
}
.tablePanelService{
    
    tr:nth-child(even) {
        background-color: rgb(108, 115, 250);   
    }
    
    tr:nth-child(odd) {
        background-color: rgb(170, 175, 253);
    }
     tr:nth-child(1){
        background-color: rgb(35, 42, 171);
        color: white;
    }
}
.tablePanelCourse{
   tr:nth-child(even) {
        background-color: rgb(218, 189, 102);   
    }
    
    tr:nth-child(odd) {
        background-color: rgb(223, 203, 143);
    }
     tr:nth-child(1){
        background-color: rgb(209, 157, 0);
        color: white;
    }
}

.tablePanelApproved{
    
    tr:nth-child(even) {
        background-color: rgb(255, 113, 113);   
    }
    
    tr:nth-child(odd) {
        background-color: rgb(255, 172, 172);
    }
     tr:nth-child(1){
        background-color: rgb(216, 2, 2);
        color: white;
    }
}

.tablePanelFinished{
    
    tr:nth-child(even) {
        background-color: rgb(102, 171, 96);   
    }
    
    tr:nth-child(odd) {
        background-color: rgb(163, 202, 157);
    }
     tr:nth-child(1){
        background-color: rgb(49, 132, 36);
        color: white;
    }
}
.spaceNav{
height: 1%;
}
.spaceTable{
    height: 1%;
}
.divImgPanel {
    width: 100%;
    height: 20%;
}
.imgHeaderPalen {
    width: 100%;
    height: 80%;
}
.buttonNewService{
    color: white;
    border-radius: 5px;
    width: 100%;
    background-color: rgb(49, 132, 36);
}
.buttonServiceList,.buttonApprovedList,.buttonCourseList,.buttonFinishedList{
    color: white;
    border-radius: 0px;
    width: 15%;
}
.buttonServiceList {
    background-color: rgb(35, 42, 171);
}
.buttonApprovedList {
    background-color: rgb(216, 2, 2);

}
.buttonCourseList {
    background-color: rgb(209, 157, 0);
}
.buttonFinishedList {
    background-color: rgb(49, 132, 36);
}
.linesMenu{
    color: #dadde1;
    margin: 8px 16px;
    height: 1px;
}

.rowTableService{
    text-align: center;
}

@media only screen and (min-width: 75em){
    .container{
    width: 86rem !important;
    }
}

.buttonApprove{
    background-color: rgb(63, 169, 47);
    color: white;
}

.starOrange{
    color:#ffcf02;
}
.starBlack{
    color:black;
}
