<form [formGroup]="form" class="formDiv" (ngSubmit)="saveRecovery($event)">
    <div class="divContainerDialog">

        <div mat-dialog-title class="divTitle">
            <h1><b>Recuperar contraseña</b></h1>
            <hr class="dropdown-divider w-100">
        </div>
        <div class="spaceBetween"></div>

        <div mat-dialog-content class="divContentDialog">
            <div class="row">
                <small style="color: #929292; margin-bottom: 10px; width: 90%;">El correo de recuperación de contraseña se enviará
                    al correo electrónico especificado en el registro </small>
                    <mat-icon style="margin-bottom: 3%; color: #3879cc">help_outline</mat-icon>
            </div>
            <div class="row">
                <mat-spinner *ngIf="loader"></mat-spinner>
                <div class="col-xs">
                    <mat-form-field class="cellForm w-100">
                        <input placeholder="Correo electrónico" formControlName="email" matInput type="email">
                    </mat-form-field>
                    <div>
                        <mat-error *ngIf="form.get('email').dirty && form.get('email').hasError('email')">En este campo debe haber un correo(usuario@dominio)
                        </mat-error>
                        <mat-error *ngIf="form.get('email').dirty && form.get('email').hasError('required')">El campo es requerido
                        </mat-error>
                    </div>
                </div>
            </div>
            <div class="spaceBetween"></div>
            <div mat-dialog-actions class="rowContent">
                <button mat-button class="buttonApprove" cdkFocusInitial type="submit">
                    Enviar
                </button>
                <a href="/">Volver a la página principal</a>
            </div>
        </div>

    </div>
</form>