.message-not-products{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.sidenav {
    width: 220px;
    background: #90acdc ;
  }
  
  .mat-toolbar,  .mat-toolbar.mat-primary{
   background: #323f4f ;
  }