<form [formGroup]="form" (ngSubmit)="saveCategory($event)">
    <mat-card class ="cardEdit">
        <mat-card-header>
            <mat-card-title>Editando Categoría</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field class="cellForm">
                        <input  placeholder="Nombre" formControlName="name" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions class="actionForm">
            <button  mat-raised-button class="buttonCancel" type="button" routerLink='/admin/categories'>Cancelar</button>
            <button  mat-raised-button class="buttonUpdate" type="submit">Actualizar</button>
        </mat-card-actions>
    </mat-card>
</form>
