<div class="containerPanel">
    <div class="spaceNav"></div>
    <nav class="navTableButtons">
        <button class="buttonNewService" mat-raised-button routerLink="create">
            <mat-icon>upgrade</mat-icon>
            <span>Crear una nueva categoría</span>
        </button>
    </nav>
    <div class="spaceNav"></div>
    <div class="divTablePanel">
        <div class="divBannerCourse">
            <p>Listado de categorías de SGC</p>
        </div>

        <div class="spaceTable"></div>
        <table class="tablePanelApproved">
            <tr>
                <th>Id</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
            <tr *ngFor="let category of categories; index as i">

                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td class ="cellButtons">
                    <button class="buttonEdit" mat-raised-button [routerLink]="['edit',category.id]" >
                        <mat-icon>mode_edit</mat-icon>
                        <span>Editar</span>
                    </button>
                    <button class="buttonDelete" mat-raised-button (click)="openDialogDeleteCategory(category.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
