.btn-add-cart{
    background-color: rgb(63, 169, 47);
    color: white;
}
.container-product-detail{
    background-color: white;
    border: rgb(204, 204, 204) solid;
    border-radius: 10px !important;
    box-shadow: 5px 5px 5px 0px rgba(253, 1, 1, 0.2);
}