.divContentDialog{
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    background: white;
}
.divActionsDialog{
    
}
.divContainerDialog{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
