<div class="divContainerDialog">
    <div mat-dialog-title class="divTitle">
        <h1>Nombre del servicio: {{data.service.name}}</h1>
        <h1>ID: {{data.id}}</h1>
    </div>
    <div class="spaceBetween" *ngIf="!isShowRepairmans"></div>
    <div mat-dialog-content class="divContentDialog">
        <div class="rowContent">
            <mat-label class="cellContent subTitle">Fecha de ingreso:</mat-label>
            <mat-label class="cellContent content">{{data.createdAt}}</mat-label>
            <mat-label class="cellContent subTitle">Precio:</mat-label>
            <mat-label class="cellContent content">${{data.service.price}} COP</mat-label>
        </div>
        <div class="rowContent">
            <mat-label class="cellContent subTitle">Establecimiento:</mat-label>
            <mat-label class="cellContent content">{{data.repairman.establishment.name}}</mat-label>
            <mat-label class="cellContent subTitle">Ciudad:</mat-label>
            <mat-label class="cellContent content">{{data.repairman.establishment.city}}</mat-label>
        </div>
        <div class="rowContent">
            <mat-label class="cellContent subTitle">Nombre del cliente:</mat-label>
            <mat-label class="cellContent content">{{data.customer.sub}}</mat-label>
            <mat-label class="cellContent subTitle">Teléfono:</mat-label>
            <mat-label class="cellContent content">{{data.customer.phone}}</mat-label>
        </div>
        <div class="rowContent">
            <mat-label class="cellContent subTitle">Dispositivo:</mat-label>
            <mat-label class="cellContent content">{{data.device.name}}</mat-label>
            <mat-label class="cellContent subTitle">Marca:</mat-label>
            <mat-label class="cellContent content">{{data.device.brand}}</mat-label>
        </div>
        <div class="rowContent">
            <mat-label class="cellContent subTitle">Código:</mat-label>
            <mat-label class="cellContent content">{{data.device.code}}</mat-label>
            <mat-label class="cellContent subTitle">Color:</mat-label>
            <mat-label class="cellContent content">{{data.device.color}}</mat-label>
        </div>
        <div class="rowContent">
            <mat-label class="cellContent subTitle">Encargado:</mat-label>
            <mat-label class="cellContent content">{{data.repairman.sub}}</mat-label>
            <mat-label class="cellContent subTitle">Teléfono:</mat-label>
            <mat-label class="cellContent content">{{data.repairman.phone}}</mat-label>
        </div>
        <div class="rowContent">
            <mat-label class="cellContent subTitle">Descripción del servicio:</mat-label>
            <mat-label class="cellContent content">{{data.service.description}}</mat-label>
        </div>
        <div class="rowContent">
            <mat-label class="cellContent subTitle">Servicio requerido por el cliente:</mat-label>
            <mat-label class="cellContent content">{{data.description}}</mat-label>
        </div>

    </div>
    <div mat-dialog-actions class="rowContent">
        <button mat-button class ="buttonDeny"(click)="onNoClick()"><mat-icon>close</mat-icon> Cerrar</button>
        <button mat-button class ="buttonApprove" [mat-dialog-close]="true" cdkFocusInitial ><mat-icon>shortcut</mat-icon> Finalizar servicio contratado</button>
    </div>
</div>